*{
    margin: 0%;
    padding: 0%;
}

body{
  background-image: url("img/wsi-imageoptim-dEuR1OV.jpg");
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}

.jumbotron{
  margin-left: 250px;
  width: 750px;
  height: 200px;
  background: #1D8696;
  border-radius: 15px;
  margin-top: 2%;
  opacity: 0.9;
  color: white;
  font-size: 20px;
}

.nav {
    margin-top: 1rem;
    background: #00796B;
    border-radius: 17px;
    width: 100%;
    
}

.nav-link {
    color: white;
}

.card {
    width: 300px;
    height: 300px;
    margin: 1em;
    background:rgba(108, 202, 240, 0.596);
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
    border-radius: 1em;
    text-align: center;
    margin-top: 4rem;
  }

  .container-data {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  

  #category,#sorting,#sort {
    margin:10px auto;        
     border-radius: 17px;
     padding: 1%;
      /*height:30px;
    width: 310px;*/
     
  }

  .modal-content{
    height: 500px;
    width: 400px;
  }

  .card{
    height: 300px;
    color: rgb(68, 67, 67);
  }
  
 .carta{
    background: #008695;
    height: 500px;
    width: 450px;
    margin-top: 4rem;
    color: white;
    border-radius: 20px;
  }

    .navbar{
      background: #1D8696;
      position:fixed;
      left:0px;
      bottom:0px;
      height:50px;
      width:100%;
  }

  .go-up{
    color: white;
  }

footer{
  z-index: 100;
}
  
  

  