*{
    margin: 0%;
    padding: 0%;
}

.nav {
    margin-top: 1rem;
    background: #00796B;
    border-radius: 17px;
    height: 55px;
}

.nav-link {
    color: white;
}

.card {
    width: 300px;
    height: 300px;
    margin: 1em;
    background:#fff;
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
    border-radius: 1em;
    text-align: center;
    margin-top: 4rem;
  }

  .container-fluid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  

  #category,#sorting,#sort {
    margin:10px auto;        
     border-radius: 17px;
     height:30px;
     width: 310px;
     
  }

  .modal-content{
    height: 500px;
    width: 400px;
  }

  .card{
    height: 300px;
  }
  

  
  

  